.quicktransfer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 25px;
  padding: 25px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 25px 25px 50px #d9d9d9, -25px -25px 50px #ffffff;
  width: 240px;
  height: 390px;
  margin: 30px 20px 0px 50px;
  cursor: pointer;
  user-select: none;
}

.form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.inputAndIcon {
  display: flex;
  align-items: center;
}

input {
  width: 175px;
  height: 25px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: "Roboto", "sans-serif";
}
label {
  margin: 10px 0px;
  font-family: "Roboto", "sans-serif";
}
