.transactions {
    display: flex;
    height: 50%;
    width: 50%;
    align-items: center;
    justify-content: center;
    background: #f2f0f0;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 2.5px 2.5px #4242424a;
}