.transactions {
    display: flex;
    height: 60%;
    width: 60%;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 2.5px 2.5px #4242424a;
}