.mycards {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px 15px 0px 80px;
    background: #f2f0f0;
    padding: 10px;
    border-radius: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 2.5px 2.5px #4242424a;
    cursor: pointer;
    user-select: none;
}