.transaction_history {
    padding: 15px;
    background: white;
    border-radius: 25px;
    margin-top: 20px;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 2.5px 2.5px #4242424a;
}

table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}

h2 {
    margin-bottom: 0;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #fff;
}
tr {
    background: #fff;
}
th {
  background: none;
  color: black;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  /* border: 1px solid #ccc; */
  text-align: left;
  font-size: 18px;
}
button {
    border-radius: 8px;
    width: 60px;
    height: 25px;
    padding: 5px;
    text-align: center;
    border: 1.5px solid #e8e8e8;
    background: #fff;
}
img {
    height:35px;
    width:35px;
}
.status {
    width: 120px;
    border-radius: 4px;
    height: 30px;
    text-align: center;
}
tr:hover {
    background: #ececec;
}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}
