.dashboard {
  display: flex;
  background-color: #f8f8f8;
  font-family: "Roboto", "sans-serif";
}

.right_half {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.second_row {
  display: flex;
  flex-direction: row;
}
.third_row {
  display: flex;
  flex-direction: row;
}
