.App {
  display: flex;
  background-color: #f8f8f8;
  /* align-items: center; */
}
/*p { font-family: Futura; font-size: 18px; font-weight: normal; line-height: 26px; }*/

.right-half {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.second-row {
  display: flex;
  flex-direction: row;

}
.third-row {
  display: flex;
  flex-direction: row;

}

p {
  font-family: 'Futura Md BT';
}
