.NavlinksContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.NavlinksContent:hover {
    background: #ffffff;
}